.text-center {
  text-align: center;
  color: rgba(74, 41, 48, 0.8);
  font-size: 40px;
  letter-spacing: 10px;
}
.container {
  width: 1200px;
  margin: auto;
}

.card img {
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
  border-radius: 4px;
  padding: 5px;
}

.card p {
  opacity: .5;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin: 15px; 
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}